{% extends "layout.html" %}

{% block body %}
		<header id="main-header">
			<h1>Health Insurance Company</h1>
		</header>

	<div style="margin-top: 70px;"></div>
	
	<section id="section">

		<h2>Continue As :</h2>
		<div class="a-container">
		<div class="box-a">
			<a href="{{ url_for('admin') }}">
			<img src="../static/images/admin.png " width="170">
			<br>
			<h3>Admin</h3>
			</a>
		</div>

		<div class="box-b">

			<a href="{{ url_for('customer') }}">
			<img src="../static/images/customer.png " width="197">
			<h3>Customer</h3>
			</a>
		</div>
	</div>

	</section>

	<footer id="main-footer">
		<p>copyright &copy; 2022 Insurance Company</p>
	</footer>

{% endblock %}
